:root{
    --btn-neon-color:#d0bdd5;
    --btn-half-neon-color:#e2a2f3;
    --white:#fff;
    --btn-neon-active-color:#fff;
    --bg-primary:#0e1c37;
    --bg-primary-half:#26498d;
    --bg-secondary:#200c39;
    --bg-secondary-half:#501c8f;
    --bg-primary-card:#0e1c3733;
    --text-important:#6496cd;
}

@font-face {
    font-family: "Inter";
    src: url(../Fonts/Inter.ttf) format("truetype");
}
html{
    overflow-y: overlay;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Roboto' , sans-serif;
}
*::selection{
    background-color:var(--btn-half-neon-color);
    color:var(--white);
}
body{
    background:linear-gradient(135deg, var(--bg-primary) 0%, var(--bg-secondary) 100%);
    min-height: 100vh;
}

span{
    color:var(--text-important);
}

.btn-outline-secondary{
    color:var(--btn-half-neon-color);
    border-color: var(--btn-half-neon-color);
}

.btn-outline-secondary:hover{
    background-color: orangered;
}

.letter-spacing-2{
    letter-spacing: 0.2em;
}
.logo-4{
    font-size:4rem;
}

#bg-img{
    position:absolute;
    top:0;left:0;
    width: 100%;
    height:30em;
    z-index: -1;
    opacity: 0.3;
    box-shadow: 0 0 .1em .2em var(--bg-primary);
}

#bg-img-background{
    position: absolute;
    top:0;left:0;
    width: 100%;
    height: 30em;
    z-index: -2;
    background:linear-gradient(135deg, var(--bg-primary) 0%, var(--bg-secondary) 100%);
}

article{
    position: relative;
    top:10em;
    height: 100%;
}

.btn-neon{
    border:0.25rem solid var(--btn-neon-color);
    color:var(--btn-neon-color);
    border-radius: 50%;
}

.btn-neon:focus,
.btn-neon:hover{
    color:var(--btn-neon-active-color);
    border-color: var(--btn-neon-active-color);
    background:none;
    box-shadow: none;
}

.btn-on:hover,
.btn-on:focus,
.btn-on{
    border-color: var(--btn-neon-active-color);
    color:var(--btn-neon-active-color);
    position: relative;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--btn-neon-color),0 0 0.5em 0 var(--btn-neon-color);
    transition: background-color 100ms linear;
    box-shadow: none;
    
}

.btn-on::before{
    content: '';
    position:absolute;
    top:120%;left:0;
    width:100%;
    height: 100%;
    background-color: var(--btn-neon-color);
    pointer-events: none;
    transform: perspective(1em) rotateX(30deg) scale(1,0.3);
    filter: blur(1.35em);
}

.btn-on::after{
    content: '';
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    border-radius: 50%;
    box-shadow: 0 0 2em 0.1em var(--btn-neon-color);
    opacity: 0;
    transition: opacity 100ms linear;
}

.btn-on:focus::before,
.btn-on:hover::before{
    opacity: 1;
}

.btn-on:focus::after,
.btn-on:hover::after{
    opacity: 1;
}

.navbar-slide{
    transform:translateX(100%);
    position: fixed;
    top:0;right:0;
    height: 100%;
    z-index: 15;
    background:linear-gradient(135deg, var(--bg-primary) 0%, var(--bg-secondary) 50%, var(--bg-primary) 100%);
    transition:ease-in-out 0.5s;
}

.navbar-content a li{
    width:100%;
    list-style: none;
    border-top:1px solid var(--btn-half-neon-color);
}

.navbar-content a:first-child li{
    border:none;
}

.profile-img{
    width: 8em;
    height:8em;
}

#resume-btn{
    color:var(--bg-primary);
}

.max-height{
    max-height: 100vh;
    overflow: hidden;
}

.close-bar{
    text-decoration: none;
    color:var(--white);
    cursor: pointer;
}

.project-container{
    width:100%;
    background-color: white;
}

.project{
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height:16em;
    background-color: var(--bg-primary);
}

@media screen and (min-width:768px) {
    .project{
        height: 24rem;
    }
}

.project img{
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: 0;
}

.project-name{
    position: absolute;
    bottom:0;left:0;
    width: 100%;
    padding: 1rem 2rem;
    z-index: 1;
    background-color: #000000bb;
}

.card-container{
    position: absolute;
    top:0;left:100%;
    background-color: var(--text-important);
    width: 100%;
    height: 100%;
    padding: 2em 1em;
    transition: 500ms ease-in-out;
    z-index: 3;
}

.project:hover .card-container{
    left:0;
    transition: 500ms ease-in-out;
}

.qualification-card,
.experience-card{
    display: flexbox;
    width:100%;
    height:max-content;
    padding: 1rem 0.5rem;
    background-color: var(--bg-primary-half);
}

.qualification-card:first-child,
.experience-card:first-child{
    border:none;
}

.qualification-card img{
    height: 2rem;
}
footer{
    float: left;
    width: 100%;
    height: 30rem;
    background-color: white;
}

small{
    font-size: 0.75rem;
}