:root{
    --btn-neon-color:#d0bdd5;
    --btn-half-neon-color:#cf8ee1a9;
    --btn-neon-active-color:#fff;
    --bg-primary:#0e1c37;
    --bg-secondary:#200c39;
    --bg-primary-card:#0e1c3733;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(135deg, var(--bg-primary) 0%, var(--bg-secondary) 100%);
    min-height: 100vh;
}

.btn-neon{
    border:0.25rem solid var(--btn-neon-color);
    color:var(--btn-neon-color);
    border-radius: 50%;
}

.btn-neon:focus,
.btn-neon:hover{
    color:var(--btn-neon-active-color);
    border-color: var(--btn-neon-active-color);
    background:none;
    box-shadow: none;
}

.btn-on:hover,
.btn-on:focus,
.btn-on{
    border-color: var(--btn-neon-active-color);
    color:var(--btn-neon-active-color);
    position: relative;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--btn-neon-color),0 0 0.5em 0 var(--btn-neon-color);
    transition: background-color 100ms linear;
    box-shadow: none;
    
}

.btn-on::before{
    content: '';
    position:absolute;
    top:120%;left:0;
    width:100%;
    height: 100%;
    background-color: var(--btn-neon-color);
    pointer-events: none;
    transform: perspective(1em) rotateX(30deg) scale(1,0.3);
    filter: blur(1.35em);
}

.btn-on::after{
    content: '';
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    border-radius: 50%;
    box-shadow: 0 0 2em 0.1em var(--btn-neon-color);
    opacity: 0;
    transition: opacity 100ms linear;
}

.btn-on:focus::before,
.btn-on:hover::before{
    opacity: 1;
}

.btn-on:focus::after,
.btn-on:hover::after{
    opacity: 1;
}

.navbar-slide{
    transform:translateX(0%);
    position: fixed;
    height: 100vh;
    background:linear-gradient(135deg, var(--bg-primary) 0%, var(--bg-secondary) 50%, var(--bg-primary) 100%);
}

.profile-img{
    width: 12em;
    height:12em;
}

#resume-btn{
    color:var(--bg-primary);
}

.navbar-content a li{
    width:100vw;
    list-style: none;
    border-top:1px solid var(--btn-half-neon-color);
}

.navbar-content a:first-child li{
    border:none;
}

.slider-container{
    width: 100%;
    overflow: hidden;
}

.slider{
    height:13em;
    background-color:var(--bg-primary-card);
    border-radius: 1em;
    width: 80%;
    position: relative;
    box-shadow: 0 0 0.2em 0.01em #000000;
}

.slider::after{
    content: '';
    width: 80%;
    height: 80%;
    position:absolute;
    top:0;left:0;
    transform: translateX(130%) translateY(10%);
    background-color:var(--bg-primary-card);
    border-radius: 1em;
    box-shadow: 0 0 0.2em 0.01em #000000;
}

.slider::before{
    content: '';
    width: 80%;
    height: 80%;
    position:absolute;
    top:0;left:0;
    transform: translateX(-105%) translateY(10%);
    background-color:var(--bg-primary-card);
    border-radius: 1em;
    box-shadow: 0 0 0.2em 0.01em #000000;
}